* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

.inner-container {
  margin: 5em auto;
}

.task-list {
  padding: 0;
  margin-top: 2em;
}

#task-form input,
#task-desc {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #bbb;
}

input[type=submit] {
  border-radius: 3px;
  border:none;
  background-color: #2196F3;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}

.toggle-cat-list {
   display: inline-block;
   position:fixed;
   right: 10px;
   top: 10px;
   padding: 10px 15px;
   cursor: pointer;
}

.category-container {
  background-color: #fff;
  width:200px;
  height:100vh;
  position:fixed;
  right: -200px;
  top:0;
  transition: right .3s;
}

.category-list {
  padding:0;
  width:150px;
  margin-top: 4em;
}

.category-item {
  list-style: none;
  padding: 10px 15px;
  background-color: #ccc;
  margin-bottom: .8em;
  cursor: pointer;
  border-radius: 3px;
}

.task-item {
  list-style: none;
  padding: 40px 20px;
  background-color: #ccc;
  margin-bottom: .5em;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.task-item h4 {
  margin-top: 0;
}

.task-item span {
  position: absolute;
  display: inline-block;
  padding: 10px;
  color:#fff;
  font-size:12px;
  font-weight: 700;
}

.delete-btn {
  bottom: 3px;
  right: 10px;
}

.edit-btn {
  bottom: 3px;
  left: 10px;
}

.deadline {
  top:10px;
  right:10px;
  border-radius:50%;
  background:#616161;
}

.danger {
  background: #D32F2F;
}

.warning {
  background: #FFA000;
}

.task-done {
  background-color: #66BB6A;
}

.cat-selected {
  background-color: #616161;
  color:#fff;
}

@media (min-width: 750px) {
  #task-form {
    width: 35%;
    float: left;
  }

  .task-list {
    width: 35%;
    float: left;
    margin-left: 35px;
    padding: 0;
    margin-top: 2em;
  }

  .category-container {
    background-color: #fff;
    width:200px;
    height:100vh;
    position:fixed;
    right: 0;
    top:0;
    transition: right .3s;
  }

  .toggle-cat-list {
    display: none;
  }
}